input/real
2024/AdventOfCode2024/input/real
2025/input
output/
.idea/
bin/
obj/
include/
x64/
Release/
Debug/
*.ipch
*.db
*.vspx
*.vcxproj
*.filters
*.psess
*.VC.db
*.user
*.enc
*.opendb
*.suo
2023/Rust/target/
2023/Rust/config.json
